{{>header}} 
<div class="container">
		{{#ingredients}}
		<form action="/dashboard/name/{{ingredientId}}" method="post">
			
		
		
	{{/ingredients}}
	<div class="form">
	<form action = "/dashboard/name/"method = "post">
	<label for="Ingredient-name">Ingredient Name : </label>
		<input type="text" class="form-control" name="ingredient_name" id="ingredient-name" value="{{ingredientName}}" required>
		</div>

		<div class="form-row">
			<button type="submit" class="btn btn-primary float-right">Filter by Ingredient Name</button>
			<a href="/dashboard" class="btn btn-secondary float-right">Cancel</a>
		</div>

	{{#if ingredients.length}}
   {{#each ingredients}}
      <div>{{ingredientName}}</div>
   {{/each}}
{{else}}
   No items
{{/if}}



	</form>
</div>


</body>
</html>